<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Agregar Cliente" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="'Borrar Clientes'" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedClientes()" [disabled]="!selectedClientes || !selectedClientes.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="clientes" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','apellido','cedula','estado']" [tableStyle]="{'min-width': '75rem'}"
        [(selection)]="selectedClientes" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrado {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Clientes</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText #searchInput type="text" (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nombre" style="min-width:15rem">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="apellido" style="min-width:15rem">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
                <th pSortableColumn="cedula">Cedula <p-sortIcon field="cedula"></p-sortIcon></th>
                <th pSortableColumn="estado" style="min-width:10rem">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>
                    <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                </td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.cedula}}</td>
                <td><span [class]="'cliente-badge status-'">{{cliente.estado}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCliente(cliente)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCliente(cliente)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{clientes ? clientes.length : 0 }} clientes.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="clienteDialog" [style]="{width: '450px'}" header="Cliente Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="nombre">Nombre</label>
            <input type="text" pInputText id="nombre" required autofocus />
            <small class="p-error" *ngIf="submitted && !cliente.nombre">Nombre es requerido</small>
        </div>
        <div class="field">
            <label for="apellido">Apellido</label>
            <input type="text" pInputText id="apellido" required autofocus />
            <small class="p-error" *ngIf="submitted && !cliente.apellido">Apellido es requerido</small>
        </div>
        <div class="field">
            <label for="cedula">Cedula</label>
            <input type="text" pInputText id="cedula" required autofocus />
            <small class="p-error" *ngIf="submitted && !cliente.cedula">Cedula es requerida.</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCliente()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>